Requirements
=========================================

BlenderNEURON has the following software requirements:

 1. Operating System: Windows, Mac OS, or Linux
 2. Working installation of `NEURON 7.6+ with Python <https://neuron.yale.edu>`_. For example, one of these works:

  -  In Terminal: ``nrngui -python`` 
  - In Python console: ``from neuron import h``

 3. Working installation of **Blender 3.1-3.5** (see links for your OS in `Step 3 of Download Page <https://blenderneuron.org/download/>`_




