
\.idea/

\.vscode/

/blender

blenderneuron/__pycache__/

*.pyc

blenderneuron\.egg-info/

docs/build/

doctrees/

line_profiler/

bn\.code-workspace

\.coverage

ForNEURON/build/

ForNEURON/dist/

*.c

ForBlender/blender_neuron/build/

crash\.txt

htmlcov/

scripts/blenderneuron

\.coverage\.*
dist/

build/

docs/source/\*.md
blender.tar.xz
/blender4/
/x86_64
.DS_Store
